.attendance__table th {
    background-color: #fff9f1;
    border-bottom: 0;
    color: #FFA500;
    font-weight: 600;
    padding: 16px 8px;
}

.attendance__table th:first-child{
    border-radius: 8px 0 0 8px;
}

.attendance__table th:last-child{
    border-radius: 0px 8px 8px 0;
}

.attendance__table td{
    vertical-align: middle;
    font-weight: 600;
}