<div class="px-4 py-2 rounded-l-xl theme-button mud-elevation-25" @onclick="OnClick">
    <MudTooltip Arrow="true" Text="Theme Manager" Placement="Placement.Left">
        <MudIcon Icon="@Icons.Material.Filled.Brush" Style="color: #ffffff" />
    </MudTooltip>
</div>