<div>
    <SfRichTextEditor ID="AutoSave" Height="@Height" SaveInterval="SaveInterval" AutoSaveOnIdle="@true" Value="@Value" EnableResize="true" CssClass="@CssClass" Placeholder=@GetPlaceHolder()>
        <RichTextEditorEvents ValueChange="OnValueChanged" />
        <RichTextEditorToolbarSettings Items="_tools" />
    </SfRichTextEditor>
</div>